[submodule "Swift (iOS) Projects/Pensieve-AR"]
	path = Swift (iOS) Projects/Pensieve-AR
	url = https://github.com/AdamMoffitt/Pensieve-AR
[submodule "Java (Android) Projects/Moving_Battleships"]
	path = Java (Android) Projects/Moving_Battleships
	url = https://github.com/hhurja/Moving_Battleships
[submodule "React Native Projects/ReferMD"]
	path = React Native Projects/ReferMD
	url = https://github.com/AdamMoffitt/ReferMD
[submodule "Swift (iOS) Projects/RecipMe/RecipMe"]
	path = Swift (iOS) Projects/RecipMe/RecipMe
	url = https://github.com/AdamMoffitt/RecipMe
[submodule "Swift (iOS) Projects/Jukebaux"]
	path = Swift (iOS) Projects/Jukebaux
	url = https://github.com/AdamMoffitt/Jukebaux/
